/* screen - web-1366-7 */

.web-1366-7 {
  background-color: var(--white);
  cursor: pointer;
  height: 3212px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: scale(1.1);
  transition: all 0.2s ease;
  width: 1366px;
}

.web-1366-7.animate-enter13 {
  animation: animate-enter13-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.web-1366-7:hover {
  background-color: #fff
}

.web-1366-7 .overlap-group2 {
  height: 437px;
  left: 0;
  position: absolute;
  top: -9px;
  width: 1366px;
}

.web-1366-7 .rectangle-24 {
  background-color: var(--astral);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 94px;
  left: 0;
  position: absolute;
  top: 343px;
  width: 1366px;
}

.web-1366-7 .title {
  left: 533px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 384px;
  width: 298px;
}

.web-1366-7 .component-3-7 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 98px;
  justify-content: flex-end;
  left: 0;
  min-width: 1366px;
  padding: 16px 30px;
  position: absolute;
  top: 273px;
}

.web-1366-7 .place {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 4.5px;
  min-height: 29px;
  min-width: 48px;
  opacity: 0;
  text-align: center;
  transform: scale(1.1);
  white-space: nowrap;
}

.web-1366-7 .place.animate-enter12 {
  animation: animate-enter12-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.web-1366-7 .about {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 3.5px;
  margin-left: 56px;
  min-height: 29px;
  min-width: 48px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-7 .services {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 3.5px;
  margin-left: 61px;
  min-height: 29px;
  min-width: 64px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-7 .place-1 {
  margin-bottom: 3.5px;
  margin-left: 47px;
  min-width: 60px;
  white-space: nowrap;
}

.web-1366-7 .component-7-7 {
  align-items: flex-start;
  display: flex;
  height: 296px;
  left: 0;
  min-width: 1359px;
  position: absolute;
  top: 0;
}

.web-1366-7 .overlap-group {
  height: 296px;
  position: relative;
  width: 1359px;
}

.web-1366-7 .rectangle-63 {
  height: 287px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 1359px;
}

.web-1366-7 .rectangle-64 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  filter: blur(50px);;
  height: 224px;
  left: 853px;
  opacity: 0.91;
  position: absolute;
  top: 9px;
  width: 486px;
}

.web-1366-7 .myscopelogo {
  height: 212px;
  left: 838px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 516px;
}

.web-1366-7 .group-33 {
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: space-between;
  left: 90px;
  position: absolute;
  top: 312px;
  width: 157px;
}

.web-1366-7 .icon-material-email {
  margin-bottom: 4px;
  margin-left: 0;
  margin-top: 4.0px;
  object-fit: cover;
  width: 41.79px;
}

.web-1366-7 .icon-awesome-phone {
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 36px;
}

.web-1366-7 .icon-awesome-home {
  height: 31px;
  left: 748px;
  object-fit: cover;
  position: absolute;
  top: 314px;
  width: 41px;
}

.web-1366-7 .overlap-group1 {
  height: 2780px;
  left: -4px;
  position: absolute;
  top: 438px;
  width: 1370px;
}

.web-1366-7 .work-permit {
  height: 122px;
  left: 4px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 1316px;
}

.web-1366-7 .inside-canada-outsi {
  color: var(--cloud);
  cursor: pointer;
  font-family: var(--font-family-titillium_web);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 2330px;
  left: 54px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 74px;
  width: 1268px;
}

.web-1366-7 .span1 {
  color: var(--tuatara);
  font-weight: 700;
}

.web-1366-7 .span2 {
  font-weight: 700;
}

.web-1366-7 .span7 {
  color: #161717;
}

.web-1366-7 .span20 {
  color: #4ad2ee;
}

.web-1366-7 .group-12 {
  background-color: var(--midnight-blue);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 436px;
  left: 4px;
  position: absolute;
  top: 2344px;
  width: 1366px;
}

.web-1366-7 .mask-group-8 {
  height: 285px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2344px;
  width: 1366px;
}

.web-1366-7 .group-32 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  left: 80px;
  min-width: 1217px;
  position: absolute;
  top: 2676px;
}

.web-1366-7 .x2023-by-moesgrafix {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 0.5px;
  min-height: 50px;
  text-align: center;
  width: 523px;
}

.web-1366-7 .place-2 {
  margin-left: 207px;
  margin-top: 9.5px;
  width: 87px;
}

.web-1366-7 .about-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 13px;
  margin-top: 9.5px;
  min-height: 29px;
  text-align: center;
  width: 87px;
}

.web-1366-7 .services-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 13px;
  margin-top: 9.5px;
  min-height: 29px;
  text-align: center;
  width: 105px;
}

.web-1366-7 .place-3 {
  align-self: center;
  margin-bottom: 19.0px;
  margin-left: 13px;
  width: 87px;
}

.web-1366-7 .rectangle-62 {
  height: 1162px;
  left: 1056px;
  object-fit: cover;
  position: absolute;
  top: 231px;
  width: 314px;
}

.web-1366-7 .place-4 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 29px;
  text-align: center;
}
